**/data
**/uploads
.env
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build output
*.test
*.out

# Go workspace files
*.log
*.prof
*.sum
*.mod

# Dependency directories
vendor/

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
